*~
**/obj/*
**/bin/*
*.dll
*.kproj.user
*.xproj.user
**/.vs/*
.dockercfg
**/project.lock.json
.DS_Store
**/packages/*
**/*.pyc
*.DotSettings.user
*.user
**/TestResults/*
**/codecoverage.xml
*.DotSettings
/GoogleCloudExtension/ProjectTemplates/GcpProjectTemplate/Core/MVC/wwwroot/lib
