*~
**/obj/*
**/bin/*
*.dll
*.kproj.user
*.xproj.user
**/.vs/*
.dockercfg
**/project.lock.json
.DS_Store
**/packages/*
**/*.pyc
/GoogleCloudExtension/GoogleCloudExtension.sln.DotSettings.user
/GoogleCloudExtension/GoogleCloudExtension.Utils/GoogleCloudExtension.Utils.csproj.user
