# Configuration for the build for the Visual Studio extension for Google Cloud.

# Version for the build.
version: 2.0.0-dev+{build}

# We're using Visual Studio 2017
image: Visual Studio 2017

configuration: Release

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
  - GoogleCloudExtension\packages -> **\packages.config

install:
  - choco install opencover.portable
  - choco install codecov

before_build:
  - bash: ./tools/ensure_strings_extracted.sh
  - bash: ./tools/ensure_no_unused_strings.sh

build:
  project: GoogleCloudExtension\GoogleCloudExtension.sln
  verbosity: normal

# Defines the artifacts to be saved.
artifacts:
  - path: GoogleCloudExtension\GoogleCloudExtension\bin\Release\GoogleCloudExtension.vsix

# Run the analytics tests with code coverage report.
test_script:
  - ps: .\TestScript.ps1

# Upload to codecov.io
after_test:
  - codecov -f codecoverage.xml
