# Configuration for the build for the Visual Studio extension for Google Cloud.

# Version for the build.
version: 1.0.{build}-{branch}

# We're using Visual Studio 2015
image: Visual Studio 2015

before_build:
  - choco install opencover.portable
  - choco install codecov

# Perform the build.
build_script:
  - bash -c ./tools/ensure_strings_extracted.sh
  - bash -c ./tools/ensure_no_unused_strings.sh
  - nuget restore .\GoogleCloudExtension
  - msbuild .\GoogleCloudExtension\GoogleCloudExtension.sln /p:Configuration=Debug /p:DeployExtension=False /p:TreatWarningsAsErrors=True
  - msbuild .\GoogleCloudExtension\GoogleCloudExtension.sln /p:Configuration=Release /p:DeployExtension=False /p:TreatWarningsAsErrors=True

# Defines the artifacts to be saved.
artifacts:
  - path: GoogleCloudExtension\GoogleCloudExtension\bin\Release\GoogleCloudExtension.vsix
  - path: GoogleCloudExtension\GoogleCloudExtension\bin\Debug\GoogleCloudExtension.vsix

# Run the analytics tests with code coverage report.
test_script:
  - ps: >
      $testDllNames = 
          "GoogleAnalyticsUtilsTests.dll",
          "GoogleCloudExtensionUnitTests.dll",
          "GoogleCloudExtension.Utils.UnitTests.dll",
          "GoogleCloudExtension.DataSources.UnitTests.dll"
  - ps: $testDlls = ls -r -include $testDllNames | ? FullName -Like *\bin\Release\*
  - ps: $testContainerArgs = $testDlls.FullName -join " "
  - ps: $testArgs = "/logger:Appveyor $testContainerArgs"
  - ps: $testFilters = ($testDlls.BaseName | % { "-[$_]*"}) -join " "
  - ps: >
        $filter = "
        $testFilters
        +[GoogleCloudExtension*]*
        +[GoogleAnalyticsUtils*]*
        -[*]XamlGeneratedNamespace*
        -[*]GoogleCloudExtension*.Resources
        ".Trim()
  - ps: >
        OpenCover.Console.exe
        -register:user
        -target:vstest.console.exe
        -targetargs:$testArgs
        -output:codecoverage.xml
        -filter:$filter

# Upload to codecov.io
after_test:
  - codecov -f codecoverage.xml
