# Configuration for the build for the Visual Studio extension for Google Cloud.

# Version for the build.
version: 1.0.{build}-{branch}

# We're using Visual Studio 2015
image: Visual Studio 2015

before_build:
  - choco install OpenCover
  - choco install codecov

# Perform the build.
build_script:
  - bash -c ./tools/ensure_strings_extracted.sh
  - bash -c ./tools/ensure_no_unused_strings.sh
  - nuget restore .\GoogleCloudExtension
  - msbuild .\GoogleCloudExtension\GoogleCloudExtension.sln /p:Configuration=Debug /p:DeployExtension=False /p:TreatWarningsAsErrors=True
  - msbuild .\GoogleCloudExtension\GoogleCloudExtension.sln /p:Configuration=Release /p:DeployExtension=False /p:TreatWarningsAsErrors=True

# Defines the artifacts to be saved.
artifacts:
  - path: GoogleCloudExtension\GoogleCloudExtension\bin\Release\GoogleCloudExtension.vsix
  - path: GoogleCloudExtension\GoogleCloudExtension\bin\Debug\GoogleCloudExtension.vsix

# Run the analytics tests with code coverage report.
test_script:
  - ps: $testDllNames = "GoogleAnalyticsUtilsTests.dll", "GoogleCloudExtensionUnitTests.dll", "GoogleCloudExtension.Utils.UnitTests.dll"
  - ps: $testDlls = ls -r -include $testDllNames | ? FullName -Like *\bin\*
  - ps: $vsTestPath = (Get-Command vstest.console).Source
  - ps: $openCoverVersion = ls ~/.nuget/packages/OpenCover
  - ps: $openCoverTool = (ls / -include OpenCover.Console.exe -Recurse).FullName
  - ps: $openCoverTool
  - ps: $testContainerArgs = $testDlls.FullName -join " "
  - ps: $testArgs = "/logger:Appveyor $testContainerArgs"
  - ps: "& $openCoverTool -register:user -target:$vsTestPath -targetargs:$testContainerArgs -output:codecoverage.xml"

# Upload to codecov.io
after_test:
  - codecov -f codecoverage.xml
