@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET on Google Cloud</h1>
    <p class="lead">Use this template to develop ASP.NET applications to run on Google Cloud Platform.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
	  Google Cloud Platform as the platform 
        </p>
        <p><a class="btn btn-default" href="https://cloud.google.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Host in Google Cloud Engine.</p>
        <p><a class="btn btn-default" href="https://cloud.google.com/compute/">Learn more &raquo;</a></p>
    </div>
</div>
