<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net452" />
  <package id="EnvDTE" version="8.0.2" targetFramework="net452" />
  <package id="Google.Apis" version="1.33.1" targetFramework="net452" />
  <package id="Google.Apis.Appengine.v1" version="1.33.1.1226" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.33.1" targetFramework="net452" />
  <package id="Google.Apis.Clouderrorreporting.v1beta1" version="1.33.1.1219" targetFramework="net452" />
  <package id="Google.Apis.CloudResourceManager.v1" version="1.33.1.1229" targetFramework="net452" />
  <package id="Google.Apis.CloudSourceRepositories.v1" version="1.33.1.1223" targetFramework="net46" />
  <package id="Google.Apis.Compute.v1" version="1.33.1.1231" targetFramework="net46" />
  <package id="Google.Apis.Container.v1" version="1.33.1.1219" targetFramework="net46" />
  <package id="Google.Apis.Core" version="1.33.1" targetFramework="net452" />
  <package id="Google.Apis.Logging.v2" version="1.33.1.1227" targetFramework="net46" />
  <package id="Google.Apis.Plus.v1" version="1.33.1.1222" targetFramework="net452" />
  <package id="Google.Apis.ServiceManagement.v1" version="1.33.1.1230" targetFramework="net452" />
  <package id="log4net" version="2.0.10" targetFramework="net452" />
  <package id="Microsoft.Data.ConnectionUI" version="15.7.27703" targetFramework="net452" />
  <package id="Microsoft.PowerShell.3.ReferenceAssemblies" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="15.7.27703" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Data" version="15.7.27703" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Editor" version="15.5.27130" targetFramework="net46"/>
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.7.27703" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.17" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25415" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25415" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25415" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="15.0.25405" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.1.DesignTime" version="12.1.30329.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.56" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.132" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.53" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.7.109" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net46" />
  <package id="stdole" version="7.0.3303" targetFramework="net452" />
  <package id="StreamJsonRpc" version="1.3.23" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net46" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
  <package id="YamlDotNet.Signed" version="4.3.1" targetFramework="net46" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>