<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Google.Apis" version="1.26.2" targetFramework="net452" />
  <package id="Google.Apis.Appengine.v1" version="1.26.2.875" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.26.2" targetFramework="net452" />
  <package id="Google.Apis.Clouderrorreporting.v1beta1" version="1.26.2.874" targetFramework="net452" />
  <package id="Google.Apis.CloudResourceManager.v1" version="1.26.2.874" targetFramework="net452" />
  <package id="Google.Apis.CloudSourceRepositories.v1" version="1.26.2.878" targetFramework="net452" />
  <package id="Google.Apis.Compute.v1" version="1.26.2.865" targetFramework="net452" />
  <package id="Google.Apis.Container.v1" version="1.26.2.850" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.26.2" targetFramework="net452" />
  <package id="Google.Apis.Logging.v2" version="1.26.2.873" targetFramework="net452" />
  <package id="Google.Apis.Plus.v1" version="1.26.2.874" targetFramework="net452" />
  <package id="Google.Apis.Pubsub.v1" version="1.26.2.852" targetFramework="net452" />
  <package id="Google.Apis.SQLAdmin.v1beta4" version="1.26.2.873" targetFramework="net452" />
  <package id="Google.Apis.Storage.v1" version="1.26.2.860" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Data" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Imaging" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Sdk.BuildTasks.14.0" version="14.0.156" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.1.DesignTime" version="12.1.30328" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NuGet.VisualStudio" version="4.0.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net452" />
  <package id="VSSDK.TemplateWizardInterface" version="12.0.4" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>