// Copyright 2017 Google Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated by google-apis-code-generator 1.5.1
//     C# generator version: 1.20.0
//
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated>
//------------------------------------------------------------------------------

namespace Google.Apis.Logging.v2.Extensions
{
    /// <summary>The "logs" collection of methods.</summary>
    public class LogsResource
    {
        private const string Resource = "logs";

        /// <summary>The service which this resource belongs to.</summary>
        private readonly Google.Apis.Services.IClientService _service;

        /// <summary>Constructs a new resource.</summary>
        public LogsResource(Google.Apis.Services.IClientService service)
        {
            _service = service;
        }

        /// <summary>Lists the logs in projects or organizations. Only logs that have entries are listed.</summary>
        /// <param name="parent">Required. The resource name that owns the logs: "projects/[PROJECT_ID]"
        /// "organizations/[ORGANIZATION_ID]" </param>
        public virtual ListRequest List(string parent)
        {
            return new ListRequest(_service, parent);
        }

        /// <summary>Lists the logs in projects or organizations. Only logs that have entries are listed.</summary>
        public class ListRequest : LoggingBaseServiceRequest<Google.Apis.Logging.v2.Data.ListLogsResponse>
        {
            /// <summary>Constructs a new List request.</summary>
            public ListRequest(Google.Apis.Services.IClientService service, string parent)
                : base(service)
            {
                Parent = parent;
                InitParameters();
            }


            /// <summary>Required. The resource name that owns the logs: "projects/[PROJECT_ID]"
            /// "organizations/[ORGANIZATION_ID]" </summary>
            [Google.Apis.Util.RequestParameterAttribute("parent", Google.Apis.Util.RequestParameterType.Path)]
            public virtual string Parent { get; private set; }

            /// <summary>Optional. If present, then retrieve the next batch of results from the preceding call to
            /// this method. pageToken must be the value of nextPageToken from the previous response. The values of
            /// other method parameters should be identical to those in the previous call.</summary>
            [Google.Apis.Util.RequestParameterAttribute("pageToken", Google.Apis.Util.RequestParameterType.Query)]
            public virtual string PageToken { get; set; }

            /// <summary>Optional. The maximum number of results to return from this request. Non-positive values
            /// are ignored. The presence of nextPageToken in the response indicates that more results might be
            /// available.</summary>
            [Google.Apis.Util.RequestParameterAttribute("pageSize", Google.Apis.Util.RequestParameterType.Query)]
            public virtual System.Nullable<int> PageSize { get; set; }

            /// <summary>Optional. The prefix of the log name. Restricts the returned value to have the specified
            /// prefix. If not set, it matches all log ids. For example, if there are logs "activity", "abd",
            /// "data", here are the effects of using different log_id_prefix: + "a" retrieves "activity" and "abd".
            /// + "ac" retrieves "activity". + "aci" returns empty set. + An empty prefix retrieves all "activity",
            /// "abd", "data".</summary>
            [Google.Apis.Util.RequestParameterAttribute("logIdPrefix", Google.Apis.Util.RequestParameterType.Query)]
            public virtual string LogIdPrefix { get; set; }

            /// <summary>Optional. The name of a monitored resource type, such as "gce_instance". Only logs
            /// containing entries that have that resource type are listed.</summary>
            [Google.Apis.Util.RequestParameterAttribute("resourceType", Google.Apis.Util.RequestParameterType.Query)]
            public virtual string ResourceType { get; set; }

            /// <summary>Optional. The purpose of this field is to restrict the listed logs to those with entries of
            /// a certain kind. If resource_type is the name of a monitored resource type, then this field may
            /// contain values for the type's indexes. Only logs that have entries whose indexes include the values
            /// are listed. The format for this field is "/val1/val2.../valN", where val1 is a value for the first
            /// index, val2 for the second index, etc. An empty value (a single slash) for an index matches all
            /// values, and you can omit values for later indexes entirely.</summary>
            [Google.Apis.Util.RequestParameterAttribute("resourceIndexPrefix", Google.Apis.Util.RequestParameterType.Query)]
            public virtual string ResourceIndexPrefix { get; set; }


            ///<summary>Gets the method name.</summary>
            public override string MethodName
            {
                get { return "list"; }
            }

            ///<summary>Gets the HTTP method.</summary>
            public override string HttpMethod
            {
                get { return "GET"; }
            }

            ///<summary>Gets the REST path.</summary>
            public override string RestPath
            {
                get { return "v2/{+parent}/logs"; }
            }

            /// <summary>Initializes List parameter list.</summary>
            protected override void InitParameters()
            {
                base.InitParameters();

                RequestParameters.Add(
                    "parent", new Google.Apis.Discovery.Parameter
                    {
                        Name = "parent",
                        IsRequired = true,
                        ParameterType = "path",
                        DefaultValue = null,
                        Pattern = @"^projects/[^/]+$",
                    });
                RequestParameters.Add(
                    "pageToken", new Google.Apis.Discovery.Parameter
                    {
                        Name = "pageToken",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
                RequestParameters.Add(
                    "pageSize", new Google.Apis.Discovery.Parameter
                    {
                        Name = "pageSize",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
                RequestParameters.Add(
                    "logIdPrefix", new Google.Apis.Discovery.Parameter
                    {
                        Name = "logIdPrefix",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
                RequestParameters.Add(
                    "resourceType", new Google.Apis.Discovery.Parameter
                    {
                        Name = "resourceType",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
                RequestParameters.Add(
                    "resourceIndexPrefix", new Google.Apis.Discovery.Parameter
                    {
                        Name = "resourceIndexPrefix",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
            }
        }
    }

    /// <summary>The "resourceKeys" collection of methods.</summary>
    public class ResourceKeysResource
    {
        private const string Resource = "resourceKeys";

        /// <summary>The service which this resource belongs to.</summary>
        private readonly Google.Apis.Services.IClientService _service;

        /// <summary>Constructs a new resource.</summary>
        public ResourceKeysResource(Google.Apis.Services.IClientService service)
        {
            _service = service;
        }


        /// <summary>Lists the resource keys that have log entries in this project.</summary>
        /// <param name="parent">The resource name of the entity whose resource keys are to be listed.</param>
        public virtual ListRequest List(string parent)
        {
            return new ListRequest(_service, parent);
        }

        /// <summary>Lists the resource keys that have log entries in this project.</summary>
        public class ListRequest : LoggingBaseServiceRequest<Google.Apis.Logging.v2.Data.Extensions.ListResourceKeysResponse>
        {
            /// <summary>Constructs a new List request.</summary>
            public ListRequest(Google.Apis.Services.IClientService service, string parent)
                : base(service)
            {
                Parent = parent;
                InitParameters();
            }


            /// <summary>The resource name of the entity whose resource keys are to be listed.</summary>
            [Google.Apis.Util.RequestParameterAttribute("parent", Google.Apis.Util.RequestParameterType.Path)]
            public virtual string Parent { get; private set; }

            /// <summary>Optional. If present, then retrieve the next batch of results from the preceding call to
            /// this method. pageToken must be the value of nextPageToken from the previous response. The values of
            /// other method parameters should be identical to those in the previous call.</summary>
            [Google.Apis.Util.RequestParameterAttribute("pageToken", Google.Apis.Util.RequestParameterType.Query)]
            public virtual string PageToken { get; set; }

            /// <summary>Optional. The maximum number of results to return from this request. Non-positive values
            /// are ignored. The presence of nextPageToken in the response indicates that more results might be
            /// available.</summary>
            [Google.Apis.Util.RequestParameterAttribute("pageSize", Google.Apis.Util.RequestParameterType.Query)]
            public virtual System.Nullable<int> PageSize { get; set; }


            ///<summary>Gets the method name.</summary>
            public override string MethodName
            {
                get { return "list"; }
            }

            ///<summary>Gets the HTTP method.</summary>
            public override string HttpMethod
            {
                get { return "GET"; }
            }

            ///<summary>Gets the REST path.</summary>
            public override string RestPath
            {
                get { return "v2/{+parent}/resourceKeys"; }
            }

            /// <summary>Initializes List parameter list.</summary>
            protected override void InitParameters()
            {
                base.InitParameters();

                RequestParameters.Add(
                    "parent", new Google.Apis.Discovery.Parameter
                    {
                        Name = "parent",
                        IsRequired = true,
                        ParameterType = "path",
                        DefaultValue = null,
                        Pattern = @"^projects/[^/]+$",
                    });
                RequestParameters.Add(
                    "pageToken", new Google.Apis.Discovery.Parameter
                    {
                        Name = "pageToken",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
                RequestParameters.Add(
                    "pageSize", new Google.Apis.Discovery.Parameter
                    {
                        Name = "pageSize",
                        IsRequired = false,
                        ParameterType = "query",
                        DefaultValue = null,
                        Pattern = null,
                    });
            }
        }
    }

    /// <summary>The "resourceTypes" collection of methods.</summary>
    public class ResourceTypesResource
    {
        private const string Resource = "resourceTypes";

        /// <summary>The service which this resource belongs to.</summary>
        private readonly Google.Apis.Services.IClientService _service;

        /// <summary>Constructs a new resource.</summary>
        public ResourceTypesResource(Google.Apis.Services.IClientService service)
        {
            _service = service;
            _values = new ValuesResource(service);
        }

        private readonly ValuesResource _values;

        /// <summary>Gets the Values resource.</summary>
        public virtual ValuesResource Values
        {
            get { return _values; }
        }

        /// <summary>The "values" collection of methods.</summary>
        public class ValuesResource
        {
            private const string Resource = "values";

            /// <summary>The service which this resource belongs to.</summary>
            private readonly Google.Apis.Services.IClientService _service;

            /// <summary>Constructs a new resource.</summary>
            public ValuesResource(Google.Apis.Services.IClientService service)
            {
                _service = service;
            }


            /// <summary>Lists the current index values for a log resource type.</summary>
            /// <param name="parent">The resource name of a monitored resource type whose indexes are requested:
            /// "projects/[PROJECT_ID]/resourceTypes/[RESOURCE_TYPE]" Sample monitored resource types include aws_ec2_instance and
            /// gce_instance. For a complete list, see Monitored resource types.</param>
            public virtual ListRequest List(string parent)
            {
                return new ListRequest(_service, parent);
            }

            /// <summary>Lists the current index values for a log resource type.</summary>
            public class ListRequest : LoggingBaseServiceRequest<Google.Apis.Logging.v2.Data.Extensions.ListResourceValuesResponse>
            {
                /// <summary>Constructs a new List request.</summary>
                public ListRequest(Google.Apis.Services.IClientService service, string parent)
                    : base(service)
                {
                    Parent = parent;
                    InitParameters();
                }


                /// <summary>The resource name of a monitored resource type whose indexes are requested:
                /// "projects/[PROJECT_ID]/resourceTypes/[RESOURCE_TYPE]" Sample monitored resource types include
                /// aws_ec2_instance and gce_instance. For a complete list, see Monitored resource types.</summary>
                [Google.Apis.Util.RequestParameterAttribute("parent", Google.Apis.Util.RequestParameterType.Path)]
                public virtual string Parent { get; private set; }

                /// <summary>Optional. If present, then retrieve the next batch of results from the preceding call
                /// to this method. pageToken must be the value of nextPageToken from the previous response. The
                /// values of other method parameters should be identical to those in the previous call.</summary>
                [Google.Apis.Util.RequestParameterAttribute("pageToken", Google.Apis.Util.RequestParameterType.Query)]
                public virtual string PageToken { get; set; }

                /// <summary>Flag to specify whether to return the result with reverse order or not. If set to true,
                /// the response is build from descending order, otherwise, it is ascending order.</summary>
                [Google.Apis.Util.RequestParameterAttribute("reverseOrder", Google.Apis.Util.RequestParameterType.Query)]
                public virtual System.Nullable<bool> ReverseOrder { get; set; }

                /// <summary>Optional. The maximum number of results to return from this request. Non-positive
                /// values are ignored. The presence of nextPageToken in the response indicates that more results
                /// might be available.</summary>
                [Google.Apis.Util.RequestParameterAttribute("pageSize", Google.Apis.Util.RequestParameterType.Query)]
                public virtual System.Nullable<int> PageSize { get; set; }

                /// <summary>Restricts the index values returned to be those with a specified prefix for each index
                /// key. This field has the form "/prefix1/prefix2/...", in order corresponding to the ResourceKeys
                /// indexKeys. Non-empty prefixes must begin with /. For example, App Engine's two keys are the
                /// module ID and the version ID. Following is the effect of using various values for indexPrefix:
                /// "/Mod/" retrieves /Mod/10 and /Mod/11 but not /ModA/10. "/Mod retrieves /Mod/10, /Mod/11 and
                /// /ModA/10 but not /XXX/33. "/Mod/1" retrieves /Mod/10 and /Mod/11 but not /ModA/10. "/Mod/10/"
                /// retrieves /Mod/10 only. An empty prefix or "/" retrieves all values.</summary>
                [Google.Apis.Util.RequestParameterAttribute("indexPrefix", Google.Apis.Util.RequestParameterType.Query)]
                public virtual string IndexPrefix { get; set; }

                /// <summary>A non-negative integer that limits the number of levels of the index hierarchy that are
                /// returned. If depth is 1 (default), only the first index key value is returned. If depth is 2,
                /// both primary and secondary key values are returned. If depth is 0, the depth is the number of
                /// slash-separators in the indexPrefix field, not counting a slash appearing as the last character
                /// of the prefix. If the indexPrefix field is empty, the default depth is 1. It is an error for
                /// depth to be any positive value less than the number of components in indexPrefix.</summary>
                [Google.Apis.Util.RequestParameterAttribute("depth", Google.Apis.Util.RequestParameterType.Query)]
                public virtual System.Nullable<int> Depth { get; set; }


                ///<summary>Gets the method name.</summary>
                public override string MethodName
                {
                    get { return "list"; }
                }

                ///<summary>Gets the HTTP method.</summary>
                public override string HttpMethod
                {
                    get { return "GET"; }
                }

                ///<summary>Gets the REST path.</summary>
                public override string RestPath
                {
                    get { return "v2/{+parent}/values"; }
                }

                /// <summary>Initializes List parameter list.</summary>
                protected override void InitParameters()
                {
                    base.InitParameters();

                    RequestParameters.Add(
                        "parent", new Google.Apis.Discovery.Parameter
                        {
                            Name = "parent",
                            IsRequired = true,
                            ParameterType = "path",
                            DefaultValue = null,
                            Pattern = @"^projects/[^/]+/resourceTypes/[^/]+$",
                        });
                    RequestParameters.Add(
                        "pageToken", new Google.Apis.Discovery.Parameter
                        {
                            Name = "pageToken",
                            IsRequired = false,
                            ParameterType = "query",
                            DefaultValue = null,
                            Pattern = null,
                        });
                    RequestParameters.Add(
                        "reverseOrder", new Google.Apis.Discovery.Parameter
                        {
                            Name = "reverseOrder",
                            IsRequired = false,
                            ParameterType = "query",
                            DefaultValue = null,
                            Pattern = null,
                        });
                    RequestParameters.Add(
                        "pageSize", new Google.Apis.Discovery.Parameter
                        {
                            Name = "pageSize",
                            IsRequired = false,
                            ParameterType = "query",
                            DefaultValue = null,
                            Pattern = null,
                        });
                    RequestParameters.Add(
                        "indexPrefix", new Google.Apis.Discovery.Parameter
                        {
                            Name = "indexPrefix",
                            IsRequired = false,
                            ParameterType = "query",
                            DefaultValue = null,
                            Pattern = null,
                        });
                    RequestParameters.Add(
                        "depth", new Google.Apis.Discovery.Parameter
                        {
                            Name = "depth",
                            IsRequired = false,
                            ParameterType = "query",
                            DefaultValue = null,
                            Pattern = null,
                        });
                }
            }
        }
    }
}

namespace Google.Apis.Logging.v2.Data.Extensions
{
    /// <summary>Result returned from ListResourceKeysRequest.</summary>
    public class ListResourceKeysResponse : Google.Apis.Requests.IDirectResponseSchema
    {
        /// <summary>If there might be more results than those appearing in this response, then nextPageToken is
        /// included. To get the next set of results, call this method again using the value of nextPageToken as
        /// pageToken.</summary>
        [Newtonsoft.Json.JsonPropertyAttribute("nextPageToken")]
        public virtual string NextPageToken { get; set; }

        /// <summary>A list of log resource keys.</summary>
        [Newtonsoft.Json.JsonPropertyAttribute("resourceKeys")]
        public virtual System.Collections.Generic.IList<ResourceKeys> ResourceKeys { get; set; }

        /// <summary>The ETag of the item.</summary>
        public virtual string ETag { get; set; }
    }

    /// <summary>Result returned from ListResourceValues.</summary>
    public class ListResourceValuesResponse : Google.Apis.Requests.IDirectResponseSchema
    {
        /// <summary>If there might be more results than those appearing in this response, then nextPageToken is
        /// included. To get the next set of results, call this method again using the value of nextPageToken as
        /// pageToken.</summary>
        [Newtonsoft.Json.JsonPropertyAttribute("nextPageToken")]
        public virtual string NextPageToken { get; set; }

        /// <summary>A list of log resource type index values. Each index value has the form "/value1/value2/...", where
        /// value1 is a value in the primary index, value2 is a value in the secondary index, and so forth.</summary>
        [Newtonsoft.Json.JsonPropertyAttribute("resourceValuePrefixes")]
        public virtual System.Collections.Generic.IList<string> ResourceValuePrefixes { get; set; }

        /// <summary>The ETag of the item.</summary>
        public virtual string ETag { get; set; }
    }

    /// <summary>Output only. Describes resource keys for log entries.</summary>
    public class ResourceKeys : Google.Apis.Requests.IDirectResponseSchema
    {
        /// <summary>Displayable name for this type that can be presented in a UI.</summary>
        [Newtonsoft.Json.JsonPropertyAttribute("displayName")]
        public virtual string DisplayName { get; set; }

        /// <summary>A list of the names of the keys used to index and label individual log entries associated with this
        /// resource type. [ "module_id", "version_id" ] </summary>
        [Newtonsoft.Json.JsonPropertyAttribute("keys")]
        public virtual System.Collections.Generic.IList<string> Keys { get; set; }

        /// <summary>The type of the monitored resource, such as gce_instance. This value can appear in the
        /// LogEntry.resource.type field of log entries</summary>
        [Newtonsoft.Json.JsonPropertyAttribute("type")]
        public virtual string Type { get; set; }

        /// <summary>The ETag of the item.</summary>
        public virtual string ETag { get; set; }
    }
}
